*{
    margin: 0;
    padding: 0;
}
body{

}
textarea{
    border-radius: 4px;
}
.container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    /* flex-wrap: wrap; */
    align-items: space-between;
}
nav{
    flex-grow: 1;
    /* background-color: darkmagenta */
}
#table{
    flex-grow: 9;
    border: 1px solid rgb(54, 100, 33);
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 2px;
}
#row1{
    align-items: flex-start;
    justify-content: space-between;
    flex-grow: 6;
}
.funds{
    display: none;
}
.id{
    width: 10%;
}
.email{
    width: 20%;
}